@charset "UTF-8";

body {
    background-color: rgb(117, 161, 116);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(14, 112, 10);
}

h1#principal {
    color: white;
    text-align: center;
    background-color: rgb(71, 97, 70);
}

h2 {
    color: rgb(145, 199, 143);  
}

.basico {
    color: rgb(145, 199, 143);
}

.intermediario {
    color: rgb(119, 131, 17);
}

.avancado {
    color: rgb(117, 26, 26);
}