@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #CC7856, #DD8E65);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #743a2b8c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E5A07F;
    text-align: center;
    text-shadow: 1px 1px 2px #835946dc;
}

h2 {
    color: #9D523D;
}

p {
    text-align: justify;
}